{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Proyectos/ConfiguracionProyecto.css' %}">
{% include "layouts/claseBase.html" %}
{% include "pages/Modals/ConfirmarEliminarClase.html" %}
<div class="mt-2 tarjeta">
    
    <h1 class="titulo-1">Detalles</h1>
    <form action=""></form>
    <div class="input-group mb-3">
        <span class="input-group-text">Nombre del proyecto</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Descripción del proyecto</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Materia</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Color distintivo</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Ciclo escolar</span>
        <input type="text" class="form-control">
    </div>
        <button class="boton">Guardar</button>
    </form>
</div>
<div class="mt-2 tarjeta">
    <h1 class="titulo-1">General</h1>
    <form action="">
        <div class="input-group mb-3">
            <span class="input-group-text">Enlace del proyecto</span>
            <span class="input-group-text">clase.com/badfbjsdgbjdfg</span>
            <button class="boton"><span class="material-symbols-outlined">
                content_copy
                </span></button>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Codigo del proyecto</span>
            <span class="input-group-text">badfbjsdgbjdfg</span>
            <button class="boton"><span class="material-symbols-outlined">
                content_copy
                </span></button>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Enlace de zoom</span>
            <input type="text" class="form-control">
        </div>
    </form>
        <button class="botonDelete" data-bs-toggle="modal" data-bs-target="#eliminarClase">Borrar proyecto</button>
        <button class="boton">Guardar</button>
        <button class="botonArchivar">Archivar proyecto</button>
    
</div>
{% endblock %}