@media (max-width: 768px) {
    .navbar .checkbtn {
        display: block;
    }

    .navbar .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .navbar .nav-menu ul {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
}