{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">INTEGRADORA II</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Odisey Yazmin Porras Beltran</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">BASE DE DATOS EN LA NUBE</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Jose Luis Herrera Gallardo</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">APLICACIONES WEB 4.0</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Edel Meza Hernandez | Erick Guerrero Bravo</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">Formacion Sociocultural</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Maria Guadalupe Gallegos Ceron</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">Ingles Pre Intermedio</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Felipe de Jesus Mendoza Tapia</small>
        </div>
    </div>
</a>
</div>
</div>
{% endblock %}