<div class="modal" id="crearTarea">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nueva Actividad</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'AgregarActividad' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" id="titulo" name="titulo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción (opcional)</label>
                        <textarea id="descripcion" name="descripcion" class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="fase_publicacion_actividad" class="form-label">Fase donde se publicará</label>
                        <select id="fase_publicacion_actividad" name="fase_publicacion_actividad" class="form-select" required>
                            {% for fase in fases %}
                                <option value="{{ fase.0 }}">{{ fase.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    
                    <button type="submit" class="btn btn-primary boton">Guardar</button>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
