{% load static %}
<div>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'coil' %}active{% endif %}" href="{% url 'IntroduccionCoil' %}">Introducción</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'tablon' %}active{% endif %}" href="{% url 'ProyectoDetail' %}">Foro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'personas' %}active{% endif %}" href="{% url 'ListaAlumnosProfesores' %}">Personas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'tareas' %}active{% endif %}" href="{% url 'FasesCoil' %}">Fases Coil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'calificaciones' %}active{% endif %}" href="{% url 'SeguimientoActividad' %}">Progreso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if enlace_activo == 'configurar' %}active{% endif %}" href="{% url 'ConfiguracionProyecto' %}"><span class="material-symbols-outlined">
                    settings
                </span></a>
        </li>
    </ul>
</div>